@import "abstracts/variables";
@import "base/reset";
@import "components/main_header";
@import "components/main_article";
@import "components/main_section";
@import "components/main_cards";
@import "components/main_footer";
















 

  

 









  



 


@keyframes opacidad {
0% { opacity: 0.5;}
100% { opacity: 100;}
}
 
.a-bar{
 animation: opacidad 3s ease 0s infinite;

}